@model PessoaModel
@{
    ViewData["Title"] = "Confirmação de exclusão";
}

<div class="text-center">
    <h3>Realmente deseja apagar o usuário (@Model.nome_pessoa)?</h3>
</div>

<form asp-controller="Pessoa" asp-action="Apagar" method="post">
    <input type="hidden" asp-for="id_pessoa" />
    <button type="submit" class="btn btn-danger btn-block">Confirmar exclusão</button>
    <a class="btn btn-primary btn-block" role="button" asp-controller="Pessoa" asp-action="Index">Cancelar exclusão</a>
</form>